.heading {
    width: 100%;
    background-color: #2d3250;
    color: #aad7d9;
}

.heading h1 {
    display: inline;
}

.heading button {
    float: right;
    background-color: #aad7d9;
    color: #2d3250;
    border-radius: 10px;
    padding: 15px;
}

body {
    font-family: 'MedievalSharp';
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNG3svhksimAaTLBiaP_IlMHqR1es6ouV6Ng&usqp=CAU");
}

#f {
    position: fixed;
    bottom: 0;
    line-height: 3;
    background-color: #2d3250;
    color: #aad7d9;
    width: 100%;
    text-align: center;
}

a {
    float: right;
}

.modal-dialog {
    width: 90%;
}

.i {
    width: 45%;
    display: inline-block;
}

.modal-header {
    display: inline;
}